@model AutoResponder.ViewModels.BR_AutoResponder_TemplateVM
@using AutoResponder.Resources;
@using System
@using System.Web
@using System.Web.Optimization

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    @if (Model.Sequence == 0)
    {
        <h4 class="modal-title" id="title">@Resources.EditTemplateOptin</h4>
    }
    else
    {
        <h4 class="modal-title" id="title">@Resources.EditTemplate</h4>
    }
</div>
@Scripts.Render("~/Scripts/jquery_min")
@Scripts.Render("~/Scripts/vendor_validation")
<script>
    $("form").validate({
        rules: {
            SendingListId: {
                required: true
            },
            Sequence: {
                required: true
            },
            Interval: {
                required: true
            },
            Sender: {
                required: true,
                email: true
            },
            Subject: {
                required: true
            },
            Body: {
                required: true
            }
        }
    });
</script>
@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "POST" }, new { Id = "EditTemplateForm", Role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Hidden("Sender", AutoResponder.Library.Constants.DEFAULT_SENDER_EMAIL)

    <div class="modal-body">
        <span class="glyphicon glyphicon-asterisk small"></span> @Resources.RequiredFields
        <br/><br/>
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.SendingListId)<span class="glyphicon glyphicon-asterisk small"></span>:
            @Html.DropDownList("SendingListIdShow", (SelectList)ViewBag.SendingListId, "- selecione -", new { disabled = "disabled", @class = "selectpicker" })
            @Html.HiddenFor(model => model.SendingListId)
            &nbsp;@Html.ValidationMessageFor(model => model.SendingListId)
            <script>
                @if (Model != null)
                {
                    <text>$("#SendingListIdShow").val(@Model.SendingListId);</text>
                }
                $("#SendingListIdShow").selectpicker();
            </script>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sequence)<span class="glyphicon glyphicon-asterisk small"></span>:
            @Html.TextBox("Sequence", Model.Sequence, new { type = "number", min = "1",  max = "999" })
            &nbsp;@Html.ValidationMessageFor(model => model.Sequence)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Interval)<span class="glyphicon glyphicon-asterisk small"></span>:
            @if (Model.Sequence == 0)
            {
                @Html.TextBox("Interval", Model.Interval, new { disabled = "disabled", type = "number", min = "0",  max = "999" })
            }
            else
            {
                @Html.TextBox("Interval", Model.Interval, new { type = "number", min = "0",  max = "999" })
            }
            @Html.ValidationMessageFor(model => model.Interval)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sender)<span class="glyphicon glyphicon-asterisk small"></span>:
            @Html.TextBox("Sender", AutoResponder.Library.Constants.DEFAULT_SENDER_EMAIL, new { disabled = "disabled" })
            &nbsp;@Html.ValidationMessageFor(model => model.Sender)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Subject)<span class="glyphicon glyphicon-asterisk small"></span>:
            @Html.EditorFor(model => model.Subject)
            &nbsp;@Html.ValidationMessageFor(model => model.Subject)
        </div>
        <div>
            @Html.LabelFor(model => model.Body)<span class="glyphicon glyphicon-asterisk small"></span>:
            @if (Model.Sequence == 0)
            {
                <text>
                    <br/>@Resources.Marks: <br/>
                    <i style="color: green;">&lt;!--!STR_NAME!--&gt;</i> - @Resources.UserName <br/>
                    <i style="color: green;">&lt;!--!LINK_OPTIN!--&gt;</i> - @Resources.OptinLink
                </text>
            }
            @Html.TextAreaFor(model => model.Body, 30, 90, new { id = "Body" })
            <script type="text/javascript">
                $(document).ready(function () {
                    loadCKEditor('Body', false);
                });
            </script>
            &nbsp;@Html.ValidationMessageFor(model => model.Body)
        </div>
        <div>
            @Html.HiddenFor(model => model.CREATION_DATE, new { id = "CREATION_DATE" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">@Resources.Close</button>
        <button type="button" class="btn btn-primary" onclick="javascript: EditTemplate();">@Resources.Save</button>
    </div>
}
