@model AutoResponder.Models.Entity.BR_AccessControl_User
@using AutoResponder.Resources;

@{
    ViewBag.Title = Resources.Edit;
    Layout = "~/Views/Shared/_Layout_bootstrap.cshtml";
}

<h2>@Resources.Edit @Resources.User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    Html.RenderPartial("_ValidationSummary");
    <fieldset>
        <legend>Formulário</legend>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Trigram, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trigram)
                @Html.ValidationMessageFor(model => model.Trigram)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.CREATION_DATE)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
				&nbsp;@Html.ActionLink(Resources.BackToList, "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </fieldset>
}
